<div class="container">
  <div *ngIf="event">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1> {{event.title}} </h1>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="center center">
      <img mat-card-image fxFlex=80%  src="{{event.img}}" alt="Agenda Image">
    </div>
  
    <mat-card *ngIf="event.description">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Description</mat-card-title>
        <mat-icon>description</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.description}}</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="event.where">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Où ?</mat-card-title>
        <mat-icon>map</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.where}}</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="event.when">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Quand ?</mat-card-title>
        <mat-icon>calendar_today</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.when}}</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="event.which">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Pour qui ?</mat-card-title>
        <mat-icon>account_circle</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.which}}</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="event.register">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Comment s'inscrire ?</mat-card-title>
        <mat-icon>how_to_reg</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.register}}</p>
        <p *ngIf="event.register_phone" fxLayoutAlign="left center" fxLayoutGap="0.5rem"><mat-icon>call</mat-icon><a href="tel:{{event.register_phone}}">{{event.register_phone}}</a></p>
        <p *ngIf="event.register_mail" fxLayoutAlign="left center" fxLayoutGap="0.5rem"><mat-icon>email</mat-icon><a href="mailto:{{event.register_mail}}">{{event.register_mail}}</a></p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="event.price">
      <mat-card-header fxLayoutAlign="space-between">
        <mat-card-title>Prix & Payement ?</mat-card-title>
        <mat-icon>attach_money</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <p>{{event.price}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div [hidden]="event || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>