<div class="container">
  <carousel
  [images]="images"
  [cellsToShow]="1"
  [autoplay]="true">
  </carousel>

  <div *ngIf="photos">
    <mat-card *ngFor="let photo of photos">
      <mat-card-header>
        <mat-card-title>{{photo.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row">
        <div fxFlex="50%" fxLayoutAlign="center center" ><img fxFlexFill src="{{photo.img}}" alt="img"></div>
        <div fxFlex="50%" fxLayoutAlign="center center">
          Petite description <a href="{{photo.link}}" target="_blank">ici</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>