<div class="banniere" fxLayoutAlign="center center" fxHide.lt-sm="true">
  <img src="assets/img/banniere.png" alt="banniere" >
</div>

<div class="container">
  <div fxLayout="row" fxLayout.lt-md="column" *ngIf="nextEvent && news" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex.gt-md="69%">
      <h1>Bienvenue</h1>
      <p>Message de bienvenue</p>
      <h1>News</h1>
      <mat-card *ngFor="let anews of news">
        <mat-card-header>
          <mat-card-title>{{anews.title}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <quill-view [content]="anews.content" format="html" theme="snow"></quill-view>
        </mat-card-content>
        <mat-card-footer fxLayoutAlign="end center" >
          <p>Publié le <i>{{anews.createdAt.toDate() | date:'dd/MM/yy'}}</i> par <i>admin</i></p>
        </mat-card-footer>
      </mat-card>
    </div>
    <div fxLayout="column" fxFlex.gt-md="30%">
      <h1>Evènements</h1>
      <h2>Prochain évènement le {{nextEvent.date | date:'dd/MM/yy'}}</h2>
      <div *ngIf="(nextEvent | json) != '{}'" fxLayoutAlign="center center">
        <mat-card [routerLink]="['/agenda', nextEvent._id]" fxFlex=80%>
          <mat-card-header>
            <mat-card-title>{{nextEvent.title}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{nextEvent.img}}" alt="Image">
          <mat-card-content>
            <p>
              {{nextEvent.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <h2>Suivi de ...</h2>
      <ng-container>
        <mat-list *ngFor="let event of events">
          <mat-list-item>
            <button mat-stroked-button [routerLink]="['/agenda', event._id]">
              <fa-icon icon="chevron-right" size="lg"></fa-icon>&nbsp;{{event.title}}&nbsp;({{event.date | date:'dd/MM/yy'}})
            </button>
          </mat-list-item>
         </mat-list>
      </ng-container>
      <div *ngIf="(nextEvent | json) === '{}'">
        <p>Rien de prévu pour le moment !</p>
      </div>
    </div>
  </div>
  <div [hidden]="nextEvent || news || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
