<div class="container">
  <div *ngIf="nextEvent && news">
  <h1>News</h1>
  <mat-card *ngIf="news">
    <mat-card-header>
      <mat-card-title>{{news.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{news.content}}
    </mat-card-content>
  </mat-card>
  <h1>Prochain Evènement</h1>
  <div *ngIf="(nextEvent | json) != '{}'">
    <mat-card [routerLink]="['/agenda', nextEvent._id]">
      <mat-card-header>
        <mat-card-title>{{nextEvent.title}}</mat-card-title>
        <mat-card-subtitle>{{nextEvent.when}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src="{{nextEvent.img}}" alt="Image">

        <p>
          {{nextEvent.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="(nextEvent | json) === '{}'">
    <p>Rien de prévu pour le moment !</p>
  </div>
  </div>
  <div [hidden]="nextEvent || news || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
