<h1>Gestion des news</h1>
<button mat-raised-button color="primary" (click)="addNews()">Ajouter nouvelle news</button>
<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Creation Date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt.toDate() | date:'dd/MM/yy hh:mm:ss'}} </td>
          </ng-container>
      
          <!-- Titre Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" fxLayoutGap="1rem">
                <button mat-raised-button color="primary" (click)="editNews(element)">Editer</button>
                <button mat-raised-button color="primary" (click)="deleteNews(element)">Supprimer</button>
              </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>