<div class="mainApp">
  <mat-toolbar color=primary fxLayoutAlign="space-between center">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    </div>
    <span>CAB Hainaut</span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button>Agenda</button>
      <button mat-button>Landelies</button>
      <button mat-button>Rock&Glace</button>
      <button mat-button>Photos</button>
      <button mat-button>Cab Hainaut</button>
    </div>
    <div>
      <a mat-button href="https://www.facebook.com/groups/73204770464" target="_blank" ><mat-icon>facebook</mat-icon></a>
      <a mat-button href="https://clubalpin.be/" target="_blank" ><mat-icon svgIcon="cab" class="icon-2x"></mat-icon></a>
    </div>
  </mat-toolbar>
  <mat-menu #menu="matMenu" class="menu">
    <button mat-menu-item routerLink="/home"><fa-icon icon="home" size="lg"></fa-icon> Home</button>
    <button mat-menu-item routerLink="/agenda"><fa-icon icon="calendar-alt" size="lg"></fa-icon> Agenda</button>
    <button mat-menu-item routerLink="/landelies"><fa-icon icon="mountain" size="lg"></fa-icon> Landelies</button>
    <button mat-menu-item routerLink=""><fa-icon icon="newspaper" size="lg"></fa-icon> Rock&Glace</button>
    <button mat-menu-item routerLink=""><fa-icon icon="images" size="lg"></fa-icon> Photos</button>
    <button mat-menu-item routerLink="/team"><fa-icon icon="hands-helping" size="lg"></fa-icon> Cab Hainaut</button>
  </mat-menu>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>