.mat-card-image:first-child {
  margin: 0.5rem;
}

.mat-card-image {
  width: auto;
  height: auto;
}

.mat-card {
  margin: 0.5rem;
}

p {
  margin: 0.1rem;
}

.paddingContent {
  padding-top: 0.5rem;
}

h1 {
  display:flex;
  font-size: 1.5rem;
  color:  #6b003f;
}

.wrap {
  flex-wrap: wrap;
}

@media(min-width: 600px) {
  .comiteMember {
    width: 30rem;
  }
}
