<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="CAB Hainaut">
      <h1>Notre équipe</h1>
      <h2>CAB Hainaut : qui fait quoi ?</h2>
      <p>Le Club Alpin Belge du Hainaut, est un club francophone d’escalade, d’alpinisme et de randonnée. Il fait partie de la fédération Club Alpin Belge.</p>
      <p>Suite à l’assemblée générale extraordinaire du 12 octobre 2018, le comité d’administration du Club Alpin Hainaut s’est élargi. Merci à tous pour votre participation.</p>
      <p>Nous organisons différentes activités et stages tout au long de l’année. Pour être informé des activités, c’est par ici.</p>
      <h2>Administrateurs (Comité):</h2>
      <div fxFlex>
        <mat-list>
          <mat-list-item *ngFor="let comiteMember of COMITE" fxFlexFill fxFlexAlign="center center">
              <img matListAvatar  src="{{comiteMember.img}}" alt="comiteMember">
              <h3 mat-line><b>{{comiteMember.title}}</b></h3>
              <p mat-line>{{comiteMember.name}}</p>
              <p *ngIf="comiteMember.mail" mat-line><a href="mailto:{{comiteMember.mail}}">{{comiteMember.mail}}</a></p>
              <p *ngIf="comiteMember.phone" mat-line><a href="tel:{{comiteMember.phone}}">{{comiteMember.phone}}</a></p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Graal">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img mat-card-image fxFlex=80%  src="assets/img/logo-graal.png" alt="graal">
      </div>
      <p>Le GRAAL : Groupe de Rééquipement et d’Aménagement Alpin de Landelies</p>
      <p>Nous sommes un groupe d’amis et tout le monde est le bienvenu pour prendre soin de ce joli site de Landelies. Son équipement toujours plus sûr ne serait pas ce qu’il est sans tous les grimpeurs bénévoles qui viennent entretenir le site au moins une à deux fois par an. Voire plus pour certains.</p>
      <p>Le GRAAL a donc besoin de tous les grimpeurs et randonneurs de notre club pour prendre soin de Landelies, de ses chemins, son mur d’écolage, sa via ferrata, sa tyrolienne et bien sûr ses fabuleuses dalles.</p>
      <p>Vous trouverez dans l’agenda du club les dates où ont lieu les « Journées du GRAAL ».</p>
      <p>Venez avec votre casque, une bonne paire de gants, des lunettes de protection, un sécateur, une bêche ou vieux piolet ainsi que votre matériel de grimpe en cas de travail en hauteur.</p>
      <p>Le club fournira un sandwich pour midi et des boissons.</p>
      <p>Pour tous renseignements ou vous inscrire à une journée, contactez Cédric (0474/666.250 cedriccabh@gmail.com) de sorte à prévoir les victuailles en suffisance. En cas de mauvais temps, n’hésitez pas à téléphoner le matin même dès 8h pour voir si l’activité a bien lieu.</p>
    </mat-tab>
  </mat-tab-group>
</div>