<form [formGroup]="newsForm" #fform="ngForm" fxLayout="column" >
    <mat-form-field fxFlex=60%>
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" type="text" required>
    </mat-form-field>
    <div >
        <mat-label>Description</mat-label>
        <quill-editor formControlName="content" [styles]="{'min-height': '20rem'}"></quill-editor>
    </div>

    <div>
        <button mat-button (click)="onDismiss()">Annuler</button>
        <button mat-button (click)="onSend()" [disabled]="!newsForm.valid">Envoyer</button>
    </div>
</form>