<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <div fxFlex fxLayout="column">
      <div class="imagelogo" fxLayoutAlign="center center">
        <img src="assets/img/logo-cabh.png" alt="logo cabh" >
      </div>
      <mat-divider></mat-divider>
      <ng-container>
        <mat-nav-list>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/home">Home</a>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/agenda">Agenda</a>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/landelies">Landelies</a>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/rockglace">Rock&Glace</a>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/photos">Photos</a>
          <a mat-list-item role="listitem" routerLinkActive='active' routerLink="/team">CAB Hainaut</a>
        </mat-nav-list>
      </ng-container>
      <mat-divider></mat-divider>
      <div fxLayout="column" fxLayoutAlign="center center" class="social">
        <p><i>Rejoignez-nous sur</i></p>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=1rem class="social">
          <a href="https://www.facebook.com/groups/73204770464" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon></a>
          <a href="https://chat.whatsapp.com/EslcVqcZWLLJcJR5WaHLES" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="['fab', 'whatsapp']" size="lg"></fa-icon></a>
        </div>
      </div>
      <div *ngIf="isLoggedIn$ | async" >
        <mat-divider class="separation"></mat-divider>
        <button mat-button routerLink="/admin">Admin</button>
        <button mat-button (click)="disconnect()">Me déconnecter</button>
      </div>
      <div class="vertical-spacer"></div>
      <div fxLayoutAlign="center center">
        <p><i class="signature">Made by <a href="https://github.com/amof" target="_blank" rel="noopener noreferrer">@mof</a></i></p>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Toolbar displayed if on mobile-->
    <mat-toolbar color="primary" fxLayoutGap="2rem" fxHide.gt-xs="true">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CAB - Section Hainaut</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
